USE [master]
GO
/****** Object:  Database [LinguaCenter]    Script Date: 1/8/2026 3:00:38 PM ******/
CREATE DATABASE [LinguaCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LinguaCenter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LinguaCenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LinguaCenter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LinguaCenter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LinguaCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LinguaCenter]
GO
/****** Object:  Table [dbo].[tb_Account]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[LastLogin] [nchar](10) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Account] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Categories]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Alias] [varchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Contact]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Courses]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Alias] [varchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[PriceSale] [int] NULL,
	[ContentHours] [int] NULL,
	[TotalWeeks] [int] NULL,
	[Level] [varchar](50) NULL,
	[Language] [nvarchar](100) NULL,
	[Prerequisites] [nvarchar](max) NULL,
	[LastUpdate] [date] NULL,
	[Image] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[TrainerId] [int] NOT NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Events]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Feedback]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[JobTitle] [nvarchar](255) NULL,
	[AvatarPath] [nvarchar](500) NULL,
	[Rating] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Lessons]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Lessons](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Duration] [int] NULL,
	[Type] [varchar](20) NULL,
	[OrderIndex] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Menu]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Levels] [int] NULL,
	[ParentId] [int] NULL,
	[Position] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Modules]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Modules](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[OrderIndex] [int] NOT NULL,
	[TotalLessons] [int] NULL,
	[TotalDuration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](255) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](255) NULL,
	[CourseId] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Role]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Trainers]    Script Date: 1/8/2026 3:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Trainers](
	[TrainerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Speciality] [nvarchar](150) NULL,
	[Description] [nvarchar](1000) NULL,
	[Image] [nvarchar](250) NULL,
	[Facebook] [nvarchar](250) NULL,
	[Twitter] [nvarchar](250) NULL,
	[Instagram] [nvarchar](250) NULL,
	[LinkedIn] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TrainerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Account] ON 

INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive]) VALUES (1, N'test', N'c81e728d9d4c2f636f067f89cc14862c', NULL, NULL, N'fake@example.com', NULL, NULL, 1)
INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive]) VALUES (3, N'a', N'c4ca4238a0b923820dcc509a6f75849b', NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tb_Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Categories] ON 

INSERT [dbo].[Tb_Categories] ([CategoryId], [Name], [Alias], [IsActive]) VALUES (1, N'Tiếng Anh', N'tieng-anh', 1)
INSERT [dbo].[Tb_Categories] ([CategoryId], [Name], [Alias], [IsActive]) VALUES (2, N'Tiếng Hàn', N'tieng-han', 1)
INSERT [dbo].[Tb_Categories] ([CategoryId], [Name], [Alias], [IsActive]) VALUES (3, N'Tiếng Nhật', N'tieng-nhat', 1)
SET IDENTITY_INSERT [dbo].[Tb_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Contact] ON 

INSERT [dbo].[Tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [CreatedDate], [IsRead]) VALUES (13, N'admin', N'987979879', N'fake@example.com', N'vb', CAST(N'2025-12-09T10:01:23.637' AS DateTime), 0)
INSERT [dbo].[Tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [CreatedDate], [IsRead]) VALUES (14, N'guest', N'987979879', N'fake@example.com', N'qwer', CAST(N'2025-12-09T10:01:48.313' AS DateTime), 0)
INSERT [dbo].[Tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [CreatedDate], [IsRead]) VALUES (15, N'admin', N'0123456789', N'fake@example.com', N'qwer', CAST(N'2025-12-09T11:02:48.570' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Tb_Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Courses] ON 

INSERT [dbo].[Tb_Courses] ([CourseId], [Title], [Alias], [Description], [ShortDescription], [Price], [PriceSale], [ContentHours], [TotalWeeks], [Level], [Language], [Prerequisites], [LastUpdate], [Image], [IsActive], [TrainerId], [CategoryId]) VALUES (1, N'Tiếng Anh cho người mới', N'english-beginner', N'Khóa học tiếng Anh cơ bản cho người mới bắt đầu.', N'Anh văn cơ bản cho người mới.', 1500000, 2000000, 40, 10, N'Beginner', N'English', N'Không yêu cầu', CAST(N'2024-11-01' AS Date), N'/assets/img/course/course-1.webp', 1, 1, 1)
INSERT [dbo].[Tb_Courses] ([CourseId], [Title], [Alias], [Description], [ShortDescription], [Price], [PriceSale], [ContentHours], [TotalWeeks], [Level], [Language], [Prerequisites], [LastUpdate], [Image], [IsActive], [TrainerId], [CategoryId]) VALUES (3, N'Tiếng Hàn sơ cấp 1', N'tieng-han-so-cap-1', N'Khóa học tiếng Hàn nhập môn TOPIK.', N'Học bảng chữ cái + ngữ pháp cơ bản.', 1600000, 2200000, 50, 12, N'Beginner', N'Korean', N'Không yêu cầu', CAST(N'2024-10-20' AS Date), N'/assets/img/course/course-3.webp', 1, 2, 2)
SET IDENTITY_INSERT [dbo].[Tb_Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Events] ON 

INSERT [dbo].[tb_Events] ([EventId], [Title], [EventDate], [Description], [Image], [IsActive]) VALUES (1, N'Hội thảo "Làm chủ kỹ năng IELTS Writing"', CAST(N'2025-03-15T09:00:00.000' AS DateTime), N'Buổi hội thảo chia sẻ phương pháp luyện viết hiệu quả từ các giảng viên IELTS 8.0+, giúp học viên nâng band điểm Writing nhanh chóng.', N'/assets/img/event/event-item-1.webp', 1)
INSERT [dbo].[tb_Events] ([EventId], [Title], [EventDate], [Description], [Image], [IsActive]) VALUES (2, N'Lớp học thử "Giao tiếp tiếng Anh tự tin"', CAST(N'2025-04-05T18:00:00.000' AS DateTime), N'Lớp học thử miễn phí giúp học viên trải nghiệm phương pháp phản xạ tiếng Anh tự nhiên cùng giáo viên bản ngữ.', N'/assets/img/event/event-item-2.webp', 1)
INSERT [dbo].[tb_Events] ([EventId], [Title], [EventDate], [Description], [Image], [IsActive]) VALUES (3, N'Workshop "Du học Nhật Bản – Cơ hội và thách thức"', CAST(N'2025-05-12T14:00:00.000' AS DateTime), N'Buổi chia sẻ thông tin về học bổng, cuộc sống và lộ trình du học Nhật Bản cùng các cựu du học sinh.', N'/assets/img/event/event-item-3.jpg', 1)
SET IDENTITY_INSERT [dbo].[tb_Events] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Feedback] ON 

INSERT [dbo].[tb_Feedback] ([FeedbackId], [FullName], [JobTitle], [AvatarPath], [Rating], [Content], [CreateDate], [IsActive]) VALUES (1, N'Nguyễn Hồng Ánh', N'Học viên khóa Giao tiếp', N'/assets/img/person/person-f-12.webp', 5, N'Khóa học rất dễ hiểu và thực hành nhiều. Sau khóa học mình tự tin giao tiếp với người nước ngoài hơn rất nhiều.', CAST(N'2025-12-07T19:38:29.130' AS DateTime), 1)
INSERT [dbo].[tb_Feedback] ([FeedbackId], [FullName], [JobTitle], [AvatarPath], [Rating], [Content], [CreateDate], [IsActive]) VALUES (2, N'Phạm Minh Quân', N'Học viên khóa IELTS', N'/files/Designer.png', 5, N'Mình rất thích cách giảng dạy của giáo viên, chi tiết, rõ ràng và truyền cảm hứng. Mình đã tăng 1.0 band chỉ sau 8 tuần.', NULL, 1)
INSERT [dbo].[tb_Feedback] ([FeedbackId], [FullName], [JobTitle], [AvatarPath], [Rating], [Content], [CreateDate], [IsActive]) VALUES (3, N'Lê Thảo My', N'Phụ huynh học viên', N'/files/WIN_20251201_13_53_25_Pro.jpg', 4, N'Con mình tiến bộ rõ rệt sau khi tham gia khóa học. Giáo viên nhiệt tình và quan tâm từng học viên.', NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Lessons] ON 

INSERT [dbo].[Tb_Lessons] ([LessonId], [ModuleId], [Title], [Duration], [Type], [OrderIndex]) VALUES (2, 1, N'Setting up the Development Environment', 18, N'video', 1)
INSERT [dbo].[Tb_Lessons] ([LessonId], [ModuleId], [Title], [Duration], [Type], [OrderIndex]) VALUES (3, 1, N'JavaScript Fundamentals Review', 25, N'video', 2)
INSERT [dbo].[Tb_Lessons] ([LessonId], [ModuleId], [Title], [Duration], [Type], [OrderIndex]) VALUES (4, 1, N'Understanding Modern Development Tools', 32, N'text', 3)
SET IDENTITY_INSERT [dbo].[Tb_Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Menu] ON 

INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Trang chủ', N'/', N'Liên kết đến trang chủ', 1, NULL, 1, CAST(N'2025-11-10T00:57:41.547' AS DateTime), N'Admin', NULL, NULL, 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Giới thiệu', N'/About', N'Thông tin về trung tâm', 1, NULL, 2, CAST(N'2025-11-10T00:57:41.547' AS DateTime), N'Admin', NULL, NULL, 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Khóa học', N'/Courses', N'Danh sách các khóa học', 1, NULL, 3, CAST(N'2025-11-10T00:57:41.547' AS DateTime), N'Admin', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Modules] ON 

INSERT [dbo].[Tb_Modules] ([ModuleId], [CourseId], [Title], [Description], [OrderIndex], [TotalLessons], [TotalDuration]) VALUES (1, 1, N'Module 1: Introduction to Modern Web Development', N'Overview and setup', 1, 6, 3)
INSERT [dbo].[Tb_Modules] ([ModuleId], [CourseId], [Title], [Description], [OrderIndex], [TotalLessons], [TotalDuration]) VALUES (2, 1, N'Module 2: React.js Fundamentals', N'Basics of React framework', 2, 8, 5)
INSERT [dbo].[Tb_Modules] ([ModuleId], [CourseId], [Title], [Description], [OrderIndex], [TotalLessons], [TotalDuration]) VALUES (3, 1, N'Module 3: Backend Development with Node.js', N'Building backend with Node.js', 3, 10, 6)
SET IDENTITY_INSERT [dbo].[Tb_Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Order] ON 

INSERT [dbo].[tb_Order] ([OrderId], [CustomerName], [Phone], [Email], [CourseId], [Price], [CreateDate]) VALUES (1, N'Nguyễn Văn A', N'0912345678', N'vana@example.com', 1, CAST(2500000 AS Decimal(18, 0)), CAST(N'2025-12-07T12:51:34.677' AS DateTime))
INSERT [dbo].[tb_Order] ([OrderId], [CustomerName], [Phone], [Email], [CourseId], [Price], [CreateDate]) VALUES (2, N'Lê Thị B', N'0987654321', N'leb@example.com', 2, CAST(3000000 AS Decimal(18, 0)), CAST(N'2025-12-07T12:51:34.677' AS DateTime))
INSERT [dbo].[tb_Order] ([OrderId], [CustomerName], [Phone], [Email], [CourseId], [Price], [CreateDate]) VALUES (3, N'Trần Văn C', N'0933334444', N'tranc@example.com', 3, CAST(4500000 AS Decimal(18, 0)), CAST(N'2025-12-07T12:51:34.677' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Trainers] ON 

INSERT [dbo].[tb_Trainers] ([TrainerId], [FullName], [Speciality], [Description], [Image], [Facebook], [Twitter], [Instagram], [LinkedIn], [IsActive], [CreatedDate]) VALUES (1, N'Nguyễn Thị Hương', N'Tiếng Anh giao tiếp', N'Giảng viên tiếng Anh với hơn 8 năm kinh nghiệm giảng dạy giao tiếp và luyện phát âm chuẩn Mỹ.', N'/files/Designer.png', N'https://facebook.com/huong.nguyen', NULL, N'https://instagram.com/huong.english', N'https://linkedin.com/in/huongnguyen', 1, NULL)
INSERT [dbo].[tb_Trainers] ([TrainerId], [FullName], [Speciality], [Description], [Image], [Facebook], [Twitter], [Instagram], [LinkedIn], [IsActive], [CreatedDate]) VALUES (2, N'Trần Minh Khoa', N'Tiếng Nhật N2-N1', N'Giáo viên tiếng Nhật từng du học tại Tokyo, có chứng chỉ JLPT N1 và hơn 5 năm kinh nghiệm luyện thi.', N'/assets/img/person/person-f-8.webp', N'https://facebook.com/khoa.tran', NULL, N'https://instagram.com/khoa.nihongo', N'https://linkedin.com/in/khoatran', 1, CAST(N'2025-11-10T01:12:58.747' AS DateTime))
INSERT [dbo].[tb_Trainers] ([TrainerId], [FullName], [Speciality], [Description], [Image], [Facebook], [Twitter], [Instagram], [LinkedIn], [IsActive], [CreatedDate]) VALUES (3, N'Lê Hoàng Anh', N'Tiếng Hàn sơ cấp', N'Giảng viên trẻ trung, năng động, tốt nghiệp khoa Hàn Quốc học – ĐH KHXH&NV, giảng dạy theo phương pháp giao tiếp trực quan.', N'/assets/img/person/person-m-6.webp', N'https://facebook.com/hoanganh.le', NULL, N'https://instagram.com/hoanganh.korean', N'https://linkedin.com/in/hoanganh', 1, CAST(N'2025-11-10T01:12:58.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_Trainers] OFF
GO
ALTER TABLE [dbo].[Tb_Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tb_Contact] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tb_Contact] ADD  CONSTRAINT [DF_tb_contacts_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Tb_Courses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Feedback] ADD  DEFAULT ((5)) FOR [Rating]
GO
ALTER TABLE [dbo].[tb_Feedback] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[tb_Feedback] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Order] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[tb_Trainers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_Trainers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tb_Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Tb_Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Tb_Courses] CHECK CONSTRAINT [FK_Courses_Category]
GO
ALTER TABLE [dbo].[Tb_Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Trainer] FOREIGN KEY([TrainerId])
REFERENCES [dbo].[tb_Trainers] ([TrainerId])
GO
ALTER TABLE [dbo].[Tb_Courses] CHECK CONSTRAINT [FK_Courses_Trainer]
GO
ALTER TABLE [dbo].[Tb_Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Tb_Modules] ([ModuleId])
GO
ALTER TABLE [dbo].[Tb_Lessons] CHECK CONSTRAINT [FK_Lessons_Module]
GO
ALTER TABLE [dbo].[Tb_Modules]  WITH CHECK ADD  CONSTRAINT [FK_Modules_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Tb_Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Tb_Modules] CHECK CONSTRAINT [FK_Modules_Course]
GO
ALTER TABLE [dbo].[tb_Order]  WITH CHECK ADD  CONSTRAINT [FK_tb_Order_tb_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Tb_Courses] ([CourseId])
GO
ALTER TABLE [dbo].[tb_Order] CHECK CONSTRAINT [FK_tb_Order_tb_Courses]
GO
ALTER TABLE [dbo].[Tb_Courses]  WITH CHECK ADD CHECK  (([Level]='Advanced' OR [Level]='Intermediate' OR [Level]='Beginner'))
GO
ALTER TABLE [dbo].[Tb_Lessons]  WITH CHECK ADD CHECK  (([Type]='text' OR [Type]='video'))
GO
USE [master]
GO
