@model IEnumerable<LinguaCenter.Models.TbEvent>

<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>Events</h1>
                        <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Sự kiện</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->
    <!-- Events Section -->
    <section id="events" class="events section">

        <div class="container" data-aos="fade-up">

            <div class="row">
                @foreach(var item in Model)
                {
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-img">
                                <img src="@item.Image" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">@item.Title</a></h5>
                                <p class="fst-italic text-center">@item.EventDate</p>
                                <p class="card-text">@item.Description</p>
                            </div>
                        </div>
                    </div>
                }
                
                
            </div>

        </div>

    </section><!-- /Events Section -->

</main>